@use "@/assets/css/main.scss";
@use "@/assets/css/icon.scss";
@use "@/assets/css/breakpoints.scss";
@use "@/assets/css/_shadows.scss" as shadows;

$icon-large: 23px;
$icon-small: 18px;
$radius: 16px;

$total-pad-large: 20px;
$total-pad-small: 14px;
$font-large: 21px;
$font-small: 18px;
$h-large: 58px;
$h-small: 50px;

@mixin icon-base($padding, $icon) {
  height: $icon;
  aspect-ratio: 1 / 1;

  &:first-of-type {
    margin-left: $padding - icon.$pad;
  }

  &:only-child {
    margin: 0;
    padding: 0;
  }
}

@mixin text-base($padding) {
  margin-right: $padding;

  &:only-child {
    margin: $padding;
  }
}

.button {
  transition-property: box-shadow, background, color;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  height: $h-large;
  min-width: $h-large;
  width: fit-content;

  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 2px;

  border-radius: $radius;
  background: #00000000;
  color: main.$gray-light;
  cursor: pointer;
  text-decoration: none;
  user-select: none;

  font-family: main.$mono;
  font-size: $font-large;

  &:hover {
    color: main.$gray-very-light;
    background: main.$gray-light-dark;
    box-shadow: shadows.$hovered;
  }

  &:active {
    color: main.$gray-very-light;
    background: main.$gray-medium;
    box-shadow: shadows.$highlighted;
  }

  @include breakpoints.q-small{
    font-size: $font-small;
    height: $h-small;
    min-width: $h-small;

    .icon {
      @include icon-base($total-pad-small, $icon-small);
    }

    .text {
      @include text-base($total-pad-small);
    }
  }
}

.selected {
  color: main.$gray-very-light;
  background: main.$primary;
  box-shadow: shadows.$selected;
  font-weight: bold;
}

.icon {
  @include icon-base($total-pad-large, $icon-large);
}

.text {
  @include text-base($total-pad-large);
}

// Effectors
.small {
  font-size: $font-small;
  height: $h-small;
  min-width: $h-small;

  .icon {
    @include icon-base($total-pad-small, $icon-small);
  }

  .text {
    @include text-base($total-pad-small);
  }
}

.rounded {
  border-radius: 128px;
}
