$tiny: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$massive: 1200px;
$gigantic: 1400px;

.compact {
  display: none !important;
  @media(max-width: $small) {
    display: inherit !important;
  }
}

.full {
  display: inherit !important;
  @media(max-width: $small) {
    display: none !important;
  }
}
