$forma: forma-djr-micro, sans-serif;
$obviously: obviously-wide, sans-serif;
$mono: 'IBM Plex Mono', monospace;

$background: #000;
$primary: #F44708;
$secondary: #FFAE03;
$active: #A4BF05;
$archived: #2176FF;
$finished: #FF006E;

$gray-dark: #2E282A;
$gray-light-dark: #4E484C;
$gray-medium: #6D676E;
$gray-light: #CECCCC;
$gray-very-light: #FEFFFE;

body {
  margin: 0;

  background-color: $background;
  color: $gray-very-light;
  font-family: $forma;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
}

h1 {
  margin: 0;

  font-family: $obviously;
  font-weight: 660;
  font-size: min(max(16px, 5.5vw), 40px);
  letter-spacing: 0.2em;
  text-transform: lowercase;
}

h2 {
  margin: 0;

  font-family: $forma;
  font-style: normal;
  font-weight: 900;
  font-size: xx-large;
  line-height: 48px;
  letter-spacing: -0.035em;
}

h3 {
  margin: 0;

  font-family: $forma;
  font-style: normal;
  font-weight: 700;
  font-size: x-large;
  letter-spacing: -0.035em;

  color: $gray-very-light;
}

.date {
  margin: 0;

  font-family: $forma;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: $gray-medium;
}

.clean {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.h-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 32px;
}

.group {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  align-self: stretch;

  margin-bottom: 32px;
}

.skinny {
  max-width: 768px;
}
